In [2]:
import numpy as np
import pandas as pd

**加载数据**

1. 加载蛋白质训练以及测试数据

In [3]:
proteins = pd.read_csv("./train_proteins.csv")
print('proteins shape: ',proteins.shape)
proteins.head()

proteins shape:  (232741, 5)

  visit_id  visit_month  patient_id UniProt       NPX
0     55_0            0          55  O00391   11254.3
1     55_0            0          55  O00533  732430.0
2     55_0            0          55  O00584   39585.8
3     55_0            0          55  O14498   41526.9
4     55_0            0          55  O14773   31238.0

In [4]:
proteins_test = pd.read_csv('./example_test_files/test_proteins.csv')
print('proteins_test shape: ',proteins_test.shape)
proteins_test.head()b

proteins_test shape:  (453, 6)

  visit_id  visit_month  patient_id UniProt        NPX  group_key
0  50423_0            0       50423  O00391   33127.90          0
1  50423_0            0       50423  O00533  490742.00          0
2  50423_0            0       50423  O00584   43615.30          0
3  50423_0            0       50423  O14773   16486.60          0
4  50423_0            0       50423  O14791    2882.42          0

2. 加载肽训练以及测试数据

In [5]:
peptides = pd.read_csv('./train_peptides.csv')
print('peptides shape: ',peptides.shape)
peptides.head()

peptides shape:  (981834, 6)

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.0
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.0
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.9
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.7

In [7]:
peptides_test = pd.read_csv('./example_test_files/test_peptides.csv')
print('peptides_test shape: ',peptides_test.shape)
peptides_test.head()

peptides_test shape:  (2057, 7)

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance,group_key
0,50423_0,0,50423,O00391,AHFSPSNIILDFPAAGSAAR,22226.3,0
1,50423_0,0,50423,O00391,NEQEQPLGQWHLS,10901.6,0
2,50423_0,0,50423,O00533,GNPEPTFSWTK,51499.4,0
3,50423_0,0,50423,O00533,IEIPSSVQQVPTIIK,125492.0,0
4,50423_0,0,50423,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,23174.2,0

3. 加载临床训练测试数据

In [8]:
clinical = pd.read_csv('./train_clinical_data.csv')
print('clinical shape: ',clinical.shape)
clinical.head()

clinical shape:  (2615, 8)

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On

In [9]:
test = pd.read_csv('./example_test_files/test.csv')
print('test shape: ',test.shape)
test.head()

test shape:  (16, 6)

  visit_id  visit_month  patient_id updrs_test           row_id  group_key
0   3342_0            0        3342    updrs_1   3342_0_updrs_1          0
1   3342_0            0        3342    updrs_2   3342_0_updrs_2          0
2   3342_0            0        3342    updrs_3   3342_0_updrs_3          0
3   3342_0            0        3342    updrs_4   3342_0_updrs_4          0
4  50423_0            0       50423    updrs_1  50423_0_updrs_1          0

**分析数据**

In [22]:
#分别计算蛋白质和病人的不重复数量以及总数
proteins.groupby('visit_id').agg({'UniProt':['nunique','count'],'patient_id':['nunique','count'],'NPX':['min','max','mean','std']}).reset_index()

      visit_id UniProt       patient_id             NPX               \
               nunique count    nunique count       min          max
0      10053_0     165   165          1   165  2497.840  269126000.0
1     10053_12     171   171          1   171  5800.870  270030000.0
2     10053_18     208   208          1   208  1334.110  278835000.0
3     10138_12     217   217          1   217  2520.240  365582000.0
4     10138_24     219   219          1   219  1436.940  396894000.0
...        ...     ...   ...        ...   ...       ...          ...
1108   8699_24     216   216          1   216   756.551  346067000.0
1109    942_12     212   212          1   212  1722.770  330558000.0
1110    942_24     217   217          1   217  1339.150  336769000.0
1111    942_48     216   216          1   216  1272.480  358059000.0
1112     942_6     216   216          1   216  2491.690  290111000.0


              mean           std
0     2.856580e+06  2.131630e+07
1     2.728871e+06  2.092162e+07
2     2.509967e+06  1.969453e+07
3     3.002583e+06  2.516170e+07
4     3.068891e+06  2.716806e+07
...            ...           ...
1108  3.064059e+06  2.409420e+07
1109  2.613298e+06  2.295228e+07
1110  2.616142e+06  2.312662e+07
1111  2.768442e+06  2.460543e+07
1112  2.476880e+06  2.002174e+07

[1113 rows x 9 columns]

In [23]:
#分别计算蛋白质和肽的不重复数和数量
peptides.groupby('visit_id').agg({'UniProt':['nunique','count'],'patient_id':['nunique','count'],'Peptide':['nunique','count'],'PeptideAbundance': ['min','max','mean','std']}).reset_index()

      visit_id UniProt       patient_id       Peptide       PeptideAbundance  \
               nunique count    nunique count nunique count              min
0      10053_0     165   649          1   649     649   649          82.9679
1     10053_12     171   633          1   633     633   633         128.4460
2     10053_18     208   868          1   868     868   868         108.5000
3     10138_12     217   932          1   932     932   932         129.0240
4     10138_24     219   918          1   918     918   918         142.6480
...        ...     ...   ...        ...   ...     ...   ...              ...
1108   8699_24     216   911          1   911     911   911         106.9420
1109    942_12     212   889          1   889     889   889          88.3277
1110    942_24     217   910          1   910     910   910         108.7050
1111    942_48     216   907          1   907     907   907         148.1360
1112     942_6     216   918          1   918     918   918         158.8690


              max           mean           std
0      66333900.0  726248.393431  3.535602e+06
1      73059300.0  737183.385744  3.799654e+06
2      64711200.0  601466.784320  3.006568e+06
3      71652400.0  699099.199189  3.379573e+06
4     123897000.0  732120.888877  4.912602e+06
...           ...            ...           ...
1108   99846400.0  726494.824901  4.080307e+06
1109   70888500.0  623193.979635  3.362987e+06
1110   71995500.0  623849.652027  3.294163e+06
1111   70658500.0  659297.802601  3.359265e+06
1112   58472500.0  582795.558517  2.734257e+06

[1113 rows x 11 columns]